<div class="auth-wrapper">
  <div class="auth-container">
    <div class="auth-header">
      <h1>Welcome back</h1>
      <p>Sign in to your account</p>
    </div>

    <form (ngSubmit)="onSubmit()" class="auth-form">
      <div class="input-group">
        <input 
          type="text" 
          id="username" 
          name="username" 
          [(ngModel)]="username" 
          required
          autocomplete="username"
        />
        <label for="username">Username</label>
        <div class="underline"></div>
      </div>

      <div class="input-group">
        <input 
          type="password" 
          id="password" 
          name="password" 
          [(ngModel)]="password" 
          required
          autocomplete="current-password"
        />
        <label for="password">Password</label>
        <div class="underline"></div>
      </div>

      <div class="form-options">
        <label class="remember-me">
          <input type="checkbox" />
          <span>Remember me</span>
        </label>
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>

      <button type="submit" class="auth-button">
        <span>Continue</span>
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>

      <div class="auth-footer">
        <p>Don't have an account? <a href="#">Sign up</a></p>
      </div>
    </form>
  </div>
</div>